.banner-section {
  position: relative;
  overflow: visible;
  z-index: 1;
}

.banner-dasboard {
  position: relative;
  z-index: 2;
  margin-bottom: -100px;
}

.sonsors_title {
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  font-weight: 500;
  font-family: var(--title-font);
  color: #111111;
  margin-bottom: 20px;
}

/* Add these styles to the existing CSS file */
.doc-contributors-section {
  padding-top: 0; /* Reduce space between sections */
}

.doc-contributors-section .sec-title {
  margin-bottom: 40px;
}

.doc-contributors-section .contributors-list {
  padding-top: 30px;
}

/* 贡献者部分标记样式 */
.contributor-partial {
  font-size: 14px;
  font-weight: normal;
  color: #888;
  margin-left: 5px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .contributor-partial {
    font-size: 12px;
  }
}
