body .page-wrapper .project-section:not(.project-section-custom) {
  position: relative;
  padding-bottom: 0px !important;
  margin-bottom: 200px !important;
}
.project_left_content {
  padding-right: 25px;
}

.project_shape_three {
  position: relative;
}
.project_shape_three img {
  position: absolute;
  right: 20px;
  top: 25px;
  z-index: -1;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}

@media (max-width: 768px) {
  .project-section,
  .project-section-custom,
  body .page-wrapper .project-section,
  body .page-wrapper .project-section-custom {
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
  }

  .project-section .auto-container,
  .project-section .row,
  .project-section .column {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}
